.main_nav{
background-color: #fff;
padding: 10px 14px;
margin: 10%;
display: flex;
align-items: center;
justify-content: space-between;
}
.logo{
    font-family: "Poppins";
    font-weight: bold;
    font-size: 18px;
}

@media (max-width:1000px) {
    .main_nav{
        margin: auto;
    }
}